# API Keys
*api_keys*

# Cache files
*cache*

# FLask session
*flask_session*

# Node modules
*node_modules*

# Playground files
*playground*

# Project notes
*note*

# Virtual Environment
*env*

# Vs Code Settings
*code*

# export api keys
run