# API Keys
*api_keys*

# Cache files
*cache*

# Databases
*.db
finance.db

# FLask session
*flask_session*

# Jetbrains Settings
*.idea*

# Initialization files
run

# Node modules
*node_modules*

# Playground files
*playground*

# Project notes
*note*

# Test files
*test*

# Virtual Environment
*env*

# Vs Code Settings
*code*
