{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<div class="flex flex-col w-full gap-10 text-slate-800 relative">
    <div class="absolute left-10 top-4">
        <a href="/"><img src="../assets/icons/back.svg" alt="back" onmouseover="addText('add')" onmouseout="addText('remove')"></a>
        <p id="homeButton" class="bg-black bg-opacity-80 text-white rounded-md p-0.5 mt-0.5 hidden">Home</p>
    </div>
    <p class="text-center text-xl font-bold p-2">Transaction History</p>
    <div class="w-full flex justify-center items-center">
        <table class="w-5/6">
            <thead class="border-b border-b-slate-600">
                <tr>
                    <th class="text-start">Time</th>
                    <th class="text-start">Company</th>
                    <th class="text-start">Ticker Symbol</th>
                    <th class="text-end">Share Price</th>
                    <th class="text-end">No. of shares</th>
                    <th class="text-end">Total</th>
                </tr>
            </thead>
            <tbody id="displayHistory">
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <script>
        let showHistory = document.querySelector("#displayHistory");
        let homeButton = document.querySelector("#homeButton");
        let createElement = (element) => document.createElement(element);

        function addText (text) {
            if (text === "add") {
                homeButton.classList.remove("hidden");
            } else {
                homeButton.classList.add("hidden");
            }
        };

        async function getHistory () {
            let url = `/api/user/history`;
            let response = await fetch(url);
            let history = await response.json();
            displayHistory(history);
        }
        getHistory();

        function displayHistory (history) {
            for (let i = 0; i < history.length; i++) {
                let row = createElement("tr");
                let timestamp = createElement("td");
                let name = createElement("td");
                let ticker = createElement("td");
                let price = createElement("td");
                let shares = createElement("td");
                let total = createElement("td");

                price.classList.add("text-end");
                shares.classList.add("text-center");
                total.classList.add("text-end");
                timestamp.classList.add("text-start");
                i % 2 ? row.classList.add('bg-gray-200') : row.classList.add('bg-none');

                timestamp.textContent = history[i].timestamp;
                name.textContent = history[i].name;
                ticker.textContent = history[i].ticker;
                price.textContent = `$${history[i].price}`;
                shares.textContent = history[i].shares;
                total.textContent = `$${history[i].total}`;
                row.appendChild(timestamp);
                row.appendChild(name);
                row.appendChild(ticker);
                row.appendChild(price);
                row.appendChild(shares);
                row.appendChild(total);
                showHistory.appendChild(row);
            }
        }
    </script>
</div>
{% endblock %}