{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<div class="flex flex-col w-full gap-10 text-slate-800 relative">
    <div class="absolute left-10 top-4">
        <a href="/"><img src="../assets/icons/back.svg" alt="back" onmouseover="addText('add')" onmouseout="addText('remove')"></a>
        <p id="homeButton" class="bg-black bg-opacity-80 text-white rounded-md p-0.5 mt-0.5 hidden">Home</p>
    </div>
    <p class="text-center text-xl font-bold p-2">Transaction History</p>
    <div class="w-full flex justify-center items-center">
        <table class="w-5/6">
            <thead class="border-b border-b-slate-600">
                <tr>
                    <th class="text-start">Time</th>
                    <th class="text-start">Company</th>
                    <th class="text-start">Ticker Symbol</th>
                    <th class="text-end">Share Price</th>
                    <th class="text-end">No. of shares</th>
                    <th class="text-end">Total</th>
                </tr>
            </thead>
            <tbody id="displayHistory">
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <script src="../assets/js/history.js">
    </script>
</div>
{% endblock %}