{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="w-3/4 p-4 p-10 flex flex-col w-full gap-10">
    <div class="flex justify-around items-center text-black">
        <div>
            <p class="underline text-xl">Cash Total</p>
            <p class="text-lg sm:text-xl font-bold">${{ cash }}</p>
        </div>
        <div>
            <p class="underline text-xl">Stocks Total</p>
            <p class="text-lg sm:text-xl font-bold">${{ stocks_total }}</p>
        </div>
        <div>
            <p class="underline text-xl">Portfolio Total</p>
            <p class="text-lg sm:text-xl font-bold">${{ portfolio_total }}</p>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>Ticker Symbol</th>
                <th>Share Price</th>
                <th>No. of shares</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in summary %}
            <tr>
                <td>{{ stock.name }}</td>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right font-bold">Shares Total</td>
                <td>${{ stocks_total }}</td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}