{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="p-10 flex flex-col w-full gap-10">
    <div class="flex justify-around items-center text-black">
        <div>
            <p class="underline text-xl">Cash Total</p>
            <p class="text-lg sm:text-xl font-bold">${{ cash }}</p>
        </div>
        <div>
            <p class="underline text-xl">Stocks Total</p>
            <p class="text-lg sm:text-xl font-bold">${{ stocks_total }}</p>
        </div>
        <div>
            <p class="underline text-xl">Portfolio Total</p>
            <p class="text-lg sm:text-xl font-bold">${{ portfolio_total }}</p>
        </div>
    </div>
    <div class="w-full flex justify-center items-center">
        <table class="w-5/6">
            <thead>
                <tr>
                    <th class="text-start">Company</th>
                    <th class="text-start">Ticker Symbol</th>
                    <th class="text-end">Share Price</th>
                    <th class="text-end">No. of shares</th>
                    <th class="text-end">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in summary %}
                <tr>
                    <td class="text-start">{{ stock.name }}</td>
                    <td class="text-start">{{ stock.ticker }}</td>
                    <td class="text-end">{{ stock.price }}</td>
                    <td class="text-end">{{ stock.shares }}</td>
                    <td class="text-end">{{ stock.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right font-bold">Shares Total</td>
                    <td class="text-end">${{ stocks_total }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}