{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="p-10 flex flex-col w-full gap-10 text-slate-800">
    <div class="flex justify-around items-center">
        <div>
            <p class="underline text-xl">Cash Total</p>
            <p class="text-lg sm:text-xl font-bold text-right" id="displayCash"></p>
        </div>
        <div>
            <p class="underline text-xl">Stocks Total</p>
            <p class="text-lg sm:text-xl font-bold text-right" id="displayStocksTotal"></p>
        </div>
        <div>
            <p class="underline text-xl">Portfolio Total</p>
            <p class="text-lg sm:text-xl font-bold text-right" id="displayPortfolioTotal"></p>
        </div>
    </div>
    <div class="w-full flex justify-center items-center">
        <table class="w-5/6">
            <thead class="border-b border-b-slate-600">
                <tr>
                    <th class="text-start">Company</th>
                    <th class="text-start">Ticker Symbol</th>
                    <th class="text-end">Share Price</th>
                    <th class="text-end">No. of shares</th>
                    <th class="text-end">Total</th>
                </tr>
            </thead>
            <tbody id="displayState">
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-end font-bold">Shares Total</td>
                    <td class="text-end font-bold" id="displaySharesTotal"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div id="loading" class="flex items-center justify-center">
        <span class="loading loading-ring loading-lg"></span>
    </div>
    <script src="../assets/js/homepage.js">
    </script>
</div>
{% endblock %}