<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/output.css">
    <link rel="shortcut icon" href="../assets/icons/favicon.svg" type="image/x-icon">

    <title>Stock Portfolio Manager: {% block title %}{% endblock %}</title>

</head>

<body class="min-h-screen relative bg-white">
    <nav class="bg-black p-2">
        {% if session["user_id"] %}
        <div class="flex justify-around items-center w-full">
            <a href="/" class="flex flex-wrap items-center overflow-auto">
                <img src="../assets/icons/favicon.svg" alt="logo" class="w-8 h-12 md:w-12 md:h-16">
                <p class="text-white text-lg sm:text-xl">Stock Portfolio Manager</p>
            </a>
            <a href="/quote" class="text-slate-200">Quote</a>
            <a href="/sell" class="text-slate-200">Sell</a>
            <a href="/buy" class="text-slate-200">Buy</a>
            <a href="/history" class="text-slate-200">History</a>
            <div class="flex gap-4 text-white items-center">
                <a href="/profile" class="flex items-center">
                    <img src="../assets/icons/user.svg" alt="user">
                    <p>Edit Profile</p>
                </a>
                <a href="/logout">Log Out</a>
            </div>
            <script>
                let names;
                async function getNames() {
                    let url = 'api/company_names'
                    response = await fetch(url);
                    names = await response.json();
                }
                getNames();
            </script>
        </div>
        {% else %}
        <a class="flex items-center justify-center gap-4" href="/">
            <img src="../assets/icons/favicon.svg" alt="logo" class="w-12 h-16">
            <p class="text-white text-lg sm:text-2xl">Stock Portfolio Manager</p>
        </a>
        {% endif %}
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer class="bg-black p-2 absolute bottom-0 w-full flex items-center justify-center gap-2">
        <p class="text-white text-center text-lg sm:text-2xl">
            Data provided by <a target="_blank" href="https://www.iexcloud.io" class="text-purple-500">IEX</a></p>
    </footer>

</body>

</html>