{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block main %}
<div class="w-full absolute">
    <p class="text-black font-bold text-xl text-center">My Profile</p>
    <div class="absolute left-10 top-4">
        <a href="/"><img src="../assets/icons/back.svg" alt="back" onmouseover="addText('add')" onmouseout="addText('remove')"></a>
        <p id="homeButton" class="bg-black bg-opacity-80 text-white rounded-md p-0.5 mt-0.5 hidden">Home</p>
    </div>
    <form action="/profile" method="post" class="flex items-center justify-center p-12" autocomplete="false">
        <div class="p-8 rounded-2xl flex flex-col gap-8 w-3/4 sm:w-1/3">
            <div>
                <label for="username" class="block text-slate-500">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter your username" autocomplete="off"
                    class="bg-slate-200 outline-none p-2 border border-purple-600 rounded-lg focus:border-2 focus:border-purple-800 focus:bg-slate-300 w-full"
                    required pattern="[a-zA-Z][a-z_A-Z0-9]+" value="{{username}}">
                <p id="displayUserNameError" class="hidden text-red-400"></p>
            </div>
            <div class="flex items-center justify-center">
                <button type="button" id="submitUsernameButton"
                    class="bg-purple-900 font-bold text-xl text-white p-2 px-12 rounded-2xl">Update Username</button>
            </div>
            <div>
                <label for="old_password" class="block text-slate-500">Old Password</label>
                <p class="relative">
                <input type="password" name="old_password" id="old_password" placeholder="Old password"
                    class="bg-slate-200 border border-purple-600 rounded-lg focus:border-2 focus:border-purple-800 focus:bg-slate-300 outline-none p-2 w-full">
                    <img id="oldEyeImage" src="../assets/icons/eye_open.svg" alt="closed eye icon" onclick="toggleVisibility('old_password')" class="hover:cursor-pointer absolute top-0 right-0 m-2">
                </p>
                <p id="displayOldError" class="hidden"></p>
            </div>
            <div>
                <label for="password" class="block text-slate-500">Password</label>
                <p class="relative">
                <input type="password" name="password" id="password" placeholder="Enter password"
                    class="bg-slate-200 border border-purple-600 rounded-lg focus:border-2 focus:border-purple-800 focus:bg-slate-300 outline-none p-2 w-full">
                    <img id="passwordEyeImage" src="../assets/icons/eye_open.svg" alt="closed eye icon" onclick="toggleVisibility('password')" class="hover:cursor-pointer absolute top-0 right-0 m-2">
                </p>
                <p id="displayError" class="hidden"></p>
            </div>
            <div>
                <label for="confirm_password" class="block text-slate-500">Confirm Password</label>
                <p class="relative">
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password"
                    class="bg-slate-200 border border-purple-600 rounded-lg focus:border-2 focus:border-purple-800 focus:bg-slate-300 outline-none p-2 w-full">
                    <img id="confirmEyeImage" src="../assets/icons/eye_open.svg" alt="closed eye icon" onclick="toggleVisibility('confirm_password')" class="hover:cursor-pointer absolute top-0 right-0 m-2">
                </p>
                <p id="displayConfirmError" class="hidden"></p>
            </div>
            <div class="flex items-center justify-center">
                <button type="button" id="submitPasswordButton"
                    class="bg-purple-900 font-bold text-xl text-white p-2 px-12 rounded-2xl">Update Password</button>
            </div>
            <script>
                const username = document.querySelector("#username");
                const old_password = document.querySelector("#old_password");
                const password = document.querySelector("#password");
                const confirm_password = document.querySelector("#confirm_password");
                const submitUsernameButton = document.querySelector("#submitUsernameButton");
                const submitPasswordButton = document.querySelector("#submitPasswordButton");
                let displayUserNameError = document.querySelector("#displayUserNameError");
                let passwordEyeImage = document.querySelector("#passwordEyeImage");
                let confirmEyeImage = document.querySelector("#confirmEyeImage");
                let oldEyeImage = document.querySelector("#oldEyeImage");
                const usernamePattern = /^[a-zA-Z][a-z_A-Z0-9]{3,}$/;
                const passwordPattern = /^\S{6,}$/;

                function addText (text) {
                    if (text === "add") {
                        homeButton.classList.remove("hidden");
                    } else {
                        homeButton.classList.add("hidden");
                    }
                };

            function toggleVisibility (input) {
                let inputToggle;
                let eyeImage;
                if (input === "password") {
                    inputToggle = password;
                    eyeImage = passwordEyeImage;
                } else if (input === "confirm_password") {
                    inputToggle = confirm_password;
                    eyeImage = confirmEyeImage;
                } else if (input === "old_password") {
                    inputToggle = old_password;
                    eyeImage = oldEyeImage;
                }
                if (inputToggle.type === "password") {
                    inputToggle.type = "text";
                    eyeImage.src = "../assets/icons/eye_closed.svg";
                } else {
                    inputToggle.type = "password";
                    eyeImage.src = "../assets/icons/eye_open.svg";
                }
            }

            async function checkUsername () {
                url = `/api/register/username_exists?username=${username.value}`;
                const response = await fetch(url);
                const result = await response.json();
                if (result.reason === "exist") {
                    console.log("exist");
                } else {
                    console.log("not exist");
                }
            }

            function checkFormat () {
                if (/\s+/.test(username.value)) {
                    displayUserNameError.textContent = 'Username cannot contain spaces';
                    displayUserNameError.classList.remove("hidden");
                } else if (/^[0-9]+/.test(username.value)) {
                    displayUserNameError.textContent = 'Username should start with a letter';
                    displayUserNameError.classList.remove("hidden");
                } else if (!/^\S{4,}$/) {
                    displayUserNameError.textContent = 'Username should be at least 4 characters long';
                    displayUserNameError.classList.remove("hidden");
                } else if (/^\S{4,}$/) {
                    displayUserNameError.textContent = '';
                    displayUserNameError.classList.add("hidden");
                    checkUsername();
                } else {
                    displayUserNameError.textContent = '';
                    displayUserNameError.classList.add("hidden");
                }}

            username.addEventListener("keyup", checkFormat());

            </script>
        </div>
    </form>
</div>
{% endblock %}