{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<div class="w-full flex flex-col items-center gap-10 p-2">
    <div id="displayQuoteResponse" class="bg-slate-400 bg-opacity-50 w-full h-screen absolute top-0 left-0 z-10 flex items-center hidden justify-center"></div>
    <p class="text-center font-bold text-xl">Quote Share Price</p>
    <div class=" relative w-full flex flex-col items-center gap-10 p-2">
        <a href="/" class="absolute left-10"><img src="../assets/icons/back.svg" alt="back"></a>
        <form id="quoteForm" class="flex flex-col justify-center items-center gap-10 w-2/3 sm:w-3/5">
            <div class="w-full relative">
                <label for="company_name" class="block text-slate-500 mb-2">Company</label>
                <input type="text" name="company_name" id="company_name" placeholder="Input company name"
                    class="p-2 w-full outline-none border border-purple-600 bg-slate-300 rounded-lg focus:border-purple-800 focus:border-2 focus:bg-slate-400 placeholder:text-white"
                    required autocomplete="off">
                <div id="displayNames"
                    class="bg-slate-200 px-2 overflow-auto flex flex-col items-start rounded-b-lg shadow-sm shadow-slate-800">
                </div>
            </div>
            <div>
                <button id="submitButton" type="button"
                    class="bg-purple-800 font-bold text-xl text-white p-2 px-16 rounded-xl sm:text-2xl sm:p-3 sm:px-24">Get
                    Quote</button>
            </div>
        </form>
        <script>
            let company_name = document.querySelector("#company_name");
            let listNames = document.querySelector("#displayNames");
            let submitButton = document.querySelector("#submitButton");
            let quoteForm = document.querySelector("#quoteForm");
            let showQuoteResponse = document.querySelector("#displayQuoteResponse");
            const createElement = (element) => document.createElement(element);
            let matched = [];

            function displayNames() {
                while (listNames.firstChild) {
                    listNames.removeChild(listNames.firstChild);
                }
                for (let i = 0; i < 5; i++) {
                    let name = createElement("button");
                    name.classList.add("w-full", "text-left", "text-slate-500", "hover:bg-slate-400", "hover:text-white", "p-2", "rounded-lg", "focus:outline-none");
                    name.textContent = matched[i];
                    name.addEventListener('click', () => {
                        company_name.value = matched[i];
                        while (listNames.firstChild) {
                            listNames.removeChild(listNames.firstChild);
                        }
                    });
                    listNames.appendChild(name);
                }
            }

            function checkNames() {
                matched = [];
                let userName = company_name.value;
                if (userName.length < 1) {
                    return;
                }
                let matchName = new RegExp(userName, "i");
                names.forEach(name => {
                    if (matchName.test(name)) {
                        matched.push(name);
                    }
                });
                if (matched.length > 0) {
                    displayNames();
                } else {
                    while (listNames.firstChild) {
                        listNames.removeChild(listNames.firstChild);
                    }

                }
            }

            company_name.addEventListener('keyup', (event) => {
                if (event.key === "Backspace" || event.key === "Delete") {
                    while (listNames.firstChild) {
                        listNames.removeChild(listNames.firstChild);
                    }
                }
                if (names) {
                    checkNames();
                }
            });

            async function getQuoteResponse() {
                let url = `/api/quote?company_name=${company_name.value}`;
                response = await fetch(url);
                let quoteResponse = await response.json();

                if (quoteResponse.flag === "error") {
                    // failed to fetch quote
                } else if (quoteResponse.flag === "success") {
                    displayQuote(quoteResponse);
                }
                }

            function displayQuote(quoteResponse) {
                let quoteDiv = createElement("div");
                let fullMessage = createElement("div");
                let doneImage = createElement("img");
                let message = createElement("p");
                let moreMessage = createElement("p");
                let companyName = createElement("p");
                let price = createElement("p");
                let dismissButton = createElement("button");

                companyName.classList.add("font-bold", "text-purple-400", "inline");
                price.classList.add("font-bold", "text-purple-400", "block");
                message.classList.add("inline");
                moreMessage.classList.add("inline");
                showQuoteResponse.classList.remove("hidden");
                quoteDiv.classList.add("p-10","rounded-lg", "flex", "flex-col", "items-center", "gap-10", "shadow-sm", "shadow-slate-800", "h-1/2", "w-2/3", "bg-white");
                dismissButton.classList.add("bg-purple-800", "font-bold", "text-xl", "text-white", "p-2", "px-16", "rounded-xl", "sm:text-2xl", "sm:p-3", "sm:px-24");
                quoteForm.classList.add("hidden");

                companyName.textContent = quoteResponse.name;
                console.log(quoteResponse.price);
                price.textContent = `$${quoteResponse.price}`;
                console.log(price.textContent);
                message.textContent = 'A share of ';
                moreMessage.textContent = ' is ';
                doneImage.setAttribute("src", "../assets/icons/done.svg");
                dismissButton.textContent = "Ok";

                dismissButton.addEventListener('click', () => {
                    showQuoteResponse.classList.add("hidden");
                    quoteForm.classList.remove("hidden");
                    showQuoteResponse.removeChild(showQuoteResponse.firstChild);
                    company_name.value = "";
                })

                fullMessage.appendChild(message);
                fullMessage.appendChild(companyName);
                fullMessage.appendChild(moreMessage);
                fullMessage.appendChild(price);
                quoteDiv.appendChild(doneImage);
                quoteDiv.appendChild(fullMessage);
                quoteDiv.appendChild(dismissButton);
                showQuoteResponse.appendChild(quoteDiv);
            }

            submitButton.addEventListener('click', () => {
                let validName = false;
                names.forEach(name => {
                    if (name === company_name.value) {
                        validName = true;
                        return;
                    }
                })
                if (validName) {
                    getQuoteResponse();
                } else {
                    while (listNames.firstChild) {
                        listNames.removeChild(listNames.firstChild);
                    }
                    let errorMessage = createElement("p");
                    errorMessage.textContent = "Please enter a valid company name";
                    errorMessage.classList.add("text-red-500");
                    listNames.appendChild(errorMessage);
                }


            })
        </script>
    </div>
</div>
{% endblock %}