{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
<div class="w-full flex flex-col items-center gap-10 p-2">
    <div id="displaySellResponse" class="bg-slate-400 bg-opacity-50 w-full h-screen absolute top-0 left-0 z-10 flex items-center hidden justify-center"></div>
    <p class="text-center font-bold text-xl">Sell Shares</p>
    <div class=" relative w-full flex flex-col items-center gap-10 p-2">
        <div class="absolute left-10 top-4">
            <a href="/"><img src="../assets/icons/back.svg" alt="back" onmouseover="addText('add')" onmouseout="addText('remove')"></a>
            <p id="homeButton" class="bg-black bg-opacity-80 text-white rounded-md p-0.5 mt-0.5 hidden">Home</p>
        </div>
        <form id="sellForm" class="flex flex-col justify-center items-center gap-10 w-2/3 lg:w-3/5">
            <div class="w-full relative">
                <label for="company_name" class="block text-slate-500 mb-2">Company</label>
                <input type="text" name="company_name" id="company_name" placeholder="Input company name"
                    class="p-2 w-full outline-none border border-purple-600 bg-slate-300 rounded-lg focus:border-purple-800 focus:border-2 focus:bg-slate-400 placeholder:text-white"
                    required autocomplete="off" disabled>
                <div id="displayNames"
                    class="bg-slate-200 px-2 overflow-auto flex flex-col items-start rounded-b-lg shadow-sm shadow-slate-800">
                </div>
            </div>
            <span id="loadingSign" class="loading loading-ring loading-lg"></span>
            <div class="w-full">
                <label for="shares" class="block text-slate-500 mb-2">No. of shares</label>
                <input type="number" name="shares" id="shares" placeholder="Input number of shares"
                    class="p-2 w-full outline-none border border-purple-600 bg-slate-300 rounded-lg focus:border-purple-800 focus:border-2 focus:bg-slate-400 placeholder:text-white"
                    required min="1" autocomplete="off" disabled>
                <p class="hidden text-red-400" id="noSharesError"></p>
            </div>
            <div>
                <button id="submitButton" type="button"
                    class="bg-purple-800 font-bold text-xl text-white p-2 px-16 rounded-xl sm:text-2xl sm:p-3 sm:px-24" disabled>Sell</button>
            </div>
        </form>
        <script src="../assets/js/sell.js">
        </script>
    </div>
</div>
{% endblock %}